<%= form_for(@getheader) do |f| %>
  <% if @getheader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@getheader.errors.count, "error") %> prohibited this getheader from being saved:</h2>

      <ul>
      <% @getheader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
