<footer class="footer">
  <small>
    SubReddit Image Getter by <a href= "https://www.jefftong.net">Jeffrey Tong</a>
  </small>
  <nav>
    <ul>
      <li><a href= "https://www.facebook.com/trigun0x2">Facebook</a></li>
      <li><a href= "https://ca.linkedin.com/in/jefft0ng/">LinkedIn</a></li>
      <li><a href= "https://github.com/trigun0x2/">GitHub</a></li>
    </ul>
  </nav>
</footer>