<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo459white.png", :size => "23x23",:alt => "sBerryCake Production", :border => 0), "http://jefftong.net", id: "logo" %>
      <%= link_to "Sub.Getter", root_path, id: "titlelogo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "View All", get_images_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>